services:
  label-studio:
    image: heartexlabs/label-studio:latest
    container_name: label-studio
    ports:
      - "8080:8080"    
    environment:
      - LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true
      - LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=/videos
    
    volumes:
      - ../data:/videos:ro
      - label-studio-data:/label-studio/data
      
volumes:
  label-studio-data: